*.log
core/node_modules/*
cli/node_modules/*
core/lib/galen/*
cli/lib/galen/*
core/lib/location.js
lcli/ib/location.js
core/coverage/*
core/target/*
cli/coverage/*
cli/tmp/*
cli/target/*
lib/location.js

# IDE
.idea/*
*.iml
*.swp
