# appveyor file
# http://www.appveyor.com/docs/appveyor-yml
environment:
  matrix:
    - NODE_VERSION: "8"
      NPM_VERSION: "5"
    - NODE_VERSION: "9"
      NPM_VERSION: "5"
    - NODE_VERSION: "10"
      NPM_VERSION: "6"

platform:
  - x86
  - x64

install:
  - ps: Install-Product node $env:NODE_VERSION
  - node --version
  - npm --version
  - npm install -g npm@%NPM_VERSION%
  - npm install -g jshint
  - npm install -g istanbul
  - npm install -g istanbul-coveralls
  - npm install -g nodeunit

build: off

test_script:
  - cd core
  - npm install .
  - npm run coverage
  - npm install . -g
  - cd ..
  - cd cli
  - npm install .
  - npm test
  - npm install . -g
  - .\runTests
